
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Index</h1>

<body>

 @await Component.InvokeAsync("_About1")

 @await Component.InvokeAsync("_About2")

  @await Component.InvokeAsync("_Statistics2")

  @await Component.InvokeAsync("_Guides")

</body>
